@import url(global.css);

/* os componentes já estão sendo desenvolvidos para serem responsivos.

   a utlizização de medias queries serão necessárias em caso de ajuste
   na responsividade e estão localizadas no global.css.
*/







/* setting the header styles */
.website_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding-top: .5rem;
}

.header_logo-menu{
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
    max-width: 18rem;
}

.menu_button{
    display: flex;
    height: 100%;
    width: 3rem;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.header_logo-menu img{
    max-width: 12rem;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo-menu span{
    text-transform: uppercase;
    display: flex;
    height: 100%;
    place-items: top;
    font-weight: 300;
    font-size: clamp(.8rem, 1vw, 1.2rem);
}

.search_container_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    height: 100%;
}

.search_button_mobile, .mic_button_mobile,
.bell_mobile, .profile_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    cursor: pointer;
    background-color: transparent;
}

.search_area_larger{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%
    
    
}

.input_search_area{
    display: flex;
    position: relative;
    height: 90%;
    width: 100%;
    max-width: 30rem;
}

#search_larger{
    display: flex;
    flex-grow: 1;
    padding: .2rem 2rem .2rem .6rem;
    border-top-left-radius: 1.4rem;
    border-bottom-left-radius: 1.4rem;
    border-right: none;
    border: 1px solid var(--white_400);
    flex-grow: 1;
    
}

.keyboard_larger{
    display: flex;
    font-size: clamp(1.4rem, 1vw, 1.8rem);
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(50%, -50%);
    height: 100%;
    align-items: center;
}

.search_button_larger{
    height: 89%;
    background-color: var(--white_300);
    cursor: pointer;
    padding: 0 .5rem;
    border-top-right-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
}

.mic_larger{
    display: flex;
    height: 100%;
    width: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: .5rem;

}

.user_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(.01rem, 5vw, 5rem);
    max-width: 20rem;
    min-width: fit-content;
}

.user_actions{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.create_video{
    display: flex;
    place-items: center;
    padding: .5rem 1rem;
    background-color: var(--white_300);
    border-radius: 1.3rem;
    cursor: pointer;
}

.plus_icon_mobile{
    font-size: clamp(1.4rem, 3vw, 1.6rem);
    margin-right: .4rem;
}

.user_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.profile_mobile{
    color: var(--red_vi);
    font-size: clamp(1.6rem, 3vw, 2rem);
}




/* setting the menu aside */
.menu_aside{
    display: none;
    flex-direction: column;
    place-items: start;
    gap: 1rem;
    position: relative;
    width: 20rem;
    height: 100vh;
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
}

.menu_header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 17rem;
    gap: .3rem;
    padding: .5rem .8rem;
    background-color: white;
}

.menu_button_aside{
    display: flex;
    height: 100%;
    width: 3rem;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.image_aside_menu{
    max-width: 12rem;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_header > span{
    text-transform: uppercase;
    height: 100%;
    align-items: start;
    font-weight: lighter;
    
}

.user_navigation_sections{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    margin-top: 4rem;
    padding: 0 .6rem 1rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20rem;
}
.user_navigation_sections h2{
    font-size: 1.2rem;
}

.site_nav_section{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 1.5px solid var(--white_300);
}

.nav_item{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    padding: .5rem;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 2rem;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav_item .bi{
    height: 100%;
    font-size: 1.4rem;
}

.header_user_nav{
    display: flex;
    width: 100%;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: 2rem;

}

.header_user_nav h2{
    font-size: 1.3rem;
    
}
.bi-chevron-right{
    font-size: 1.2rem;
}

.channels_list_nav{
    border-top: 1.5px solid var(--white_300);
    border-bottom: 1.5px solid var(--white_300);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.channel_item{
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: .5rem;
    width: 100%;
    text-overflow: ellipsis;
    width: 18rem;
    overflow: hidden;
    cursor: pointer;
    padding: .3rem;
}

.footer_channels_list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: .5rem;
    margin-top: .5rem;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    border-radius: 1.4rem;
}

.footer_channels_list > .bi{
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.yt_icons{
    color: var(--red_vi);
}





/* setting the video styles */
.main_webpage{
   display: flex;
   align-items: start;
   justify-content: space-evenly;
   height: fit-content;
   width: 100%;
   padding: 2rem;
   gap: 5%;
}

.main_video_section{
    display: flex;
    place-items: start;
    flex-direction: column;
    gap: .7rem;
    width: 100%;
    min-width: 35rem;
    max-width: 50rem;
    overflow: hidden;
    border-bottom: 1px solid var(--white_300);
}

.main_video_section iframe{
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.details_main_video{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.main_video_title{
    font-size: clamp(.9rem, 1.4vw, 2rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    
}

.actions_user{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

.youtuber_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 0;
    align-self: start;
    gap:.3rem;
}

.youtuber_profile > aside{
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.youtuber_text{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subs{
    font-size: clamp(.4rem, .7vw, .9rem);
}

.youtuber_channel_name{
    font-size: clamp(.9rem, 1vw, 1.3rem);
}

.buttons_user_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.channels_actions{
    margin-left: 1rem;
    display: flex;
    gap: .5rem;
    flex-wrap: nowrap;
}

.membership, .subscribe{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 550;
    cursor: pointer;
    font-size: clamp(.7rem, .95vw, 1.8rem);
}
.membership{
    background-color: var(--white_300);
}

.subscribe{
    background-color: var(--black_200);
    color: white;
}

.video_reactions{
    display: flex;
    align-items: center;
    background-color: var(--white_300);
    border-radius: 1rem;
}

.like, .dislike{
    background-color: transparent;
    display: flex;
    height: 100%;
    padding: .5rem;
    font-size: .9rem;
    border: none;
    cursor: pointer;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    font-size: clamp(.7rem, 1.1vw, 1rem);
}

.like{
    border-right: 1px solid var(--white_400);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.dislike{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.social_interactions{
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
}

.share, .more{
    display: flex;
    padding: .5rem;
    gap: .5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--white_300);
    cursor: pointer;
    font-size: clamp(.7rem, .95vw, 1.8rem);
}

.more .bi-three-dots{
    rotate: 90deg;
}


.playlist_list{
    display: flex;
    flex-direction: column;
    place-items: start;
    border-radius: 1rem;
    width: 100%;
    max-height: 34rem;
    max-width: 35rem;
    min-width: 15rem;
    overflow: hidden;
    border: 2px solid var(--white_400);
}

.header_playlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--white_300);
    padding: .5rem;
    width: 100%;
}

.header_text{
    width: 90%;
    display: flex;
    flex-direction: column;

}

.playlist_title{
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
}

.count_video{
    font-size: clamp(.8rem, 2vw, .9rem);
}

.buttons_playlist{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .8rem;
}
.bi-shuffle, .bi-repeat{
    font-size: clamp(1rem, 7vw, 1.3rem);
    display: flex;
    width: fit-content;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.close_more_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 10%;
}

.close_playlist{
    font-size: clamp(1rem, 7vw, 1.3rem);
    cursor: pointer;
    padding: .3rem .4rem;
    border-radius: 50%;
}

.close_more_buttons .bi-three-dots{
    display: flex;
    rotate: 90deg;
    padding: .5rem .5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: clamp(1rem, 7vw, 1.3rem);
}

.videos_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    gap: .1rem;
    
}

.video_item{
    display: flex;
    align-items: center;
    padding: 0 1.5rem 0 .5rem;
    width: 99%;
    gap: .3rem;
    padding: .4rem 0;
    height: fit-content;
    cursor: pointer;
}

.number_video{
    display: flex;
    height: 100%;
    padding: .2rem .1rem;
    margin-right: .3rem;
}


.video_thumb{
    display: flex;
    aspect-ratio: 16/9;
    background: var(--black_200);
    height: 3rem;
    width: 6rem;
    place-content: end;
    border-radius: .3rem;
}

.video_time_duration{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-self: end;
    font-size: clamp(.5rem, 1vw, .7rem);
    background-color: #e7e5e535;
    border-radius: .3rem;
    padding: .1rem .3rem;
    letter-spacing: .08rem;
    color: white;
}

.video_info_h4{
    font-size: clamp(1rem, 1vw, 1.2rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 27rem;
    min-width: 1rem;
}

.video_channel_name{
    font-size:clamp(.8rem, 1vw, .9rem)
}

.playlist_uppercase{
    text-transform: uppercase;
}


